#Header-Container{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

  #Home-Link{
    height: 100%;

    img{
      height: 100%;
      width: auto;
    }
  }
